.todo {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "checkbox title priority actions"
    ".  date date label";

  column-gap: 0.3rem;
  row-gap: 0.3rem;
}

.checkbox {
  grid-area: checkbox;
}

.title {
  grid-area: title;
}

.actions {
  grid-area: actions;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
}

.priority {
  grid-area: priority;
}

.date {
  grid-area: date;
}

.label {
  grid-area: label;

  justify-self: flex-end;
}

.txt-red {
  color: red;
}
