* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-areas:
    "header header header"
    "sidebar contents contents"
    "footer footer footer";

  grid-auto-flow: row;
  color: #222;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body > * {
  padding: 15px;
}
header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
}

#content {
  grid-area: contents;

  position: relative;
}

footer {
  grid-area: footer;
}
form * {
  font-family: inherit;
}
span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
svg {
  max-width: 100%;
  width: 20px;
}

button,
span.close-btn {
  border: none;
  width: fit-content;
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 500;
  transition: ease-out;
  position: relative;
  background-color: transparent;
}
button:hover,
span.close-btn:hover {
  transform: scale(1.1);
}

.todo {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "checkbox title priority actions"
    ".  date date label";

  column-gap: 0.3rem;
  row-gap: 0.3rem;
}

.checkbox {
  grid-area: checkbox;
}

.title {
  grid-area: title;
}

.actions {
  grid-area: actions;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
}

.priority {
  grid-area: priority;
}

.date {
  grid-area: date;
}

.label {
  grid-area: label;

  justify-self: flex-end;
}

.txt-red {
  color: red;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: fit-content;
  margin-inline: auto;
  height: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: 15px;
  background-color: white;
  height: fit-content;
}

.modal-content {
  padding: 15px;
  border: none;
  box-shadow: 0px 0px 1px 0px #8c8c8c;
}
