#content {
  position: relative;
}

.todo {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "checkbox title priority actions"
    ".  date date label";

  column-gap: 0.3rem;
  row-gap: 0.3rem;
}

.checkbox {
  grid-area: checkbox;
}

.title {
  grid-area: title;
}

.actions {
  grid-area: actions;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
}

.priority {
  grid-area: priority;
}

.date {
  grid-area: date;
}

.label {
  grid-area: label;

  justify-self: flex-end;
}

.txt-red {
  color: red;
}

.modal {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  width: fit-content;
  margin-inline: auto;
  height: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: 15px;
}

.modal-content {
  padding: 15px;
  border: none;
  box-shadow: 0px 0px 1px 0px #8c8c8c;
}
